<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="WebService:dbName" value="pruebabd"/>
    <add key="WebService:logFilename" value="WebService.log"/>
    <add key="WebService:sessionDurationSeconds" value="180"/>
    <add key="WebService:apiKey" value="DEVAPIKEY"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="NaxIntegration.WebService" behaviorConfiguration="DefaultBehavior">
        <endpoint binding="basicHttpBinding" contract="NaxIntegration.WebService"/>
      </service>
    </services>
    <diagnostics>
      <messageLogging
        logEntireMessage="true"
        logMalformedMessages="false"
        logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="false"
        maxMessagesToLog="3000"
        maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!-- Uncomment this to enable WCF logs
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages"
            type="System.Diagnostics.XmlWriterTraceListener"
            initializeData="C:\ProgramData\Diagnostics.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  -->
</configuration>
